*.log
.cache
.DS_Store
src/.temp
node_modules
node_modules/*
dist
data
/data
.env
.env.*
static/rss.xml
static/social-rss.xml
static/*.xml
/static/docs
!/static/docs/cover.md
!/static/docs/readme.md
!/static/docs/index.html
!/static/docs/.nojekyll
workspace/*
workspace/repository